/* styles/SearchBar.css */
.search-box{
  width: 100%;
  display: flex;
    /* align-items: center; */
    justify-content :center;
    margin-bottom: 7em;
    
}
.search-box .search-bar
{
  backdrop-filter: blur(10px);
   display: block;
  width: 50%;
  padding: 15px;
  border: 10px; 
  outline: none;

border-radius: 35px 35px 35px 35px;
  
background-color: rgba(37, 31, 31, 0.2);

  
  color: hsl(0, 100%, 1%);
  font-size: 20px;

 transition: 0.4s ease-in-out; 
}
.search-box .search-bar:focus
{
  width: 80%;
  border-radius: 5px 5px 5px 5px;
  border: 10em;
  background-color: rgba(22, 14, 14, 0.5);
 
}


  