/* styles/SearchBar.css */
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 10px; /* Adding curved edges */
    background-color: #f8f9fa; /* Adding a light background color */
    padding: 10px; /* Adding padding */
  }
  
  .search-input {
    padding: 10px;
    border:black; /* Removing the border */
    border-radius: 5px; /* Adding curved edges */
    width: 100%;
    max-width: 300px;
    transition: background-color 5s;
  }
  
  .search-input:focus {
    outline: none;
    background-color: #fff; /* Changing background color when focused */
    box-shadow: 0 0 5px rgba(22, 22, 22, 0.5);
  }
  